<!doctype HTML>
<title>{% block title %}{% endblock %} | To-Do's</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="script" href="{{ url_for('static', filename='js/boostrap.min.js') }}">
<link rel="script" href="{{ url_for('static', filename='js/boostrap-confirmation.min.js') }}">
<link rel="script" href="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}">

<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if g.user %}
            <li>Hello, <strong>{{ g.user['username'] }}</strong></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>