{% extends 'base.html' %}

{% block header %}
    <h3>{% block title %}My List{% endblock %}</h3>
{% endblock %}

{% block content %}
    {% if todos %}
        <ul>
        {% for todo in todos %}
            <li>{{ todo.text }}</li>
        {% endfor %}</ul>
    {% else %}
        <p>There are no to-do items to show.
            {% if not g.user %}<a href="{{ url_for('auth.login') }}">Login</a>?{% endif %}</p>
    {% endif %}

    {% if g.user %}
        <form method="post">
            <label for="add">New to-do item: </label>
            <input name="new" id="new" required>
            <input type="submit" value="Add">
        </form>
    {% endif %}
{% endblock %}